In [11]:
from collections import namedtuple
from pprint import pprint
import multiprocessing
import time

In [2]:
Scientist = namedtuple('Scientist', ['name', 'field', 'born', 'nobel'])

In [8]:
scientists_arr = [
    ['Ada Lovelace', 'math', 1815, False],
    ['Emmy Noether', 'math', 1882, False],
    ['Marie Curie', 'physics', 1867, True],
    ['Tu Youyou', 'chemistry', 1930, True],
    ['Ada Yonath', 'chemistry', 1939, True],
    ['Vera Rubin', 'astronomy', 1928, False],
    ['Sally Ride', 'physics', 1951, False]
]

def transform(sci_arr_element):
    return Scientist(
        name=sci_arr_element[0], 
        field=sci_arr_element[1], 
        born=sci_arr_element[2], 
        nobel=sci_arr_element[3]
    )

scientists = tuple(map(
    transform,
    scientists_arr
))

In [16]:
scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False)
)

def transform(scientist):
    time.sleep(1)
    return {'name': scientist.name, 'age': 2018 - scientist.born}

def reducer(total, scientist):
    total += 2018 - scientist.age
    return total

start = time.time()

pool = multiprocessing.Pool()
result = tuple(pool.map(transform, scientists))

end = time.time()

print(f'Time to complete: {end - start:.2f}s')
pprint(result)

Time to complete: 1.04s
({'age': 203, 'name': 'Ada Lovelace'},
 {'age': 136, 'name': 'Emmy Noether'},
 {'age': 151, 'name': 'Marie Curie'},
 {'age': 88, 'name': 'Tu Youyou'},
 {'age': 79, 'name': 'Ada Yonath'},
 {'age': 90, 'name': 'Vera Rubin'},
 {'age': 67, 'name': 'Sally Ride'})

In [19]:
import concurrent.futures

start = time.time()

with concurrent.futures.ThreadPoolExecutor() as executor:
    result = executor.map(transform, scientists)
    
end = time.time()

print(f'Time to complete: {end - start:.2f}s')
pprint(tuple(result))

Time to complete: 1.01s
({'age': 203, 'name': 'Ada Lovelace'},
 {'age': 136, 'name': 'Emmy Noether'},
 {'age': 151, 'name': 'Marie Curie'},
 {'age': 88, 'name': 'Tu Youyou'},
 {'age': 79, 'name': 'Ada Yonath'},
 {'age': 90, 'name': 'Vera Rubin'},
 {'age': 67, 'name': 'Sally Ride'})

In [20]:
start = time.time()

with concurrent.futures.ProcessPoolExecutor() as executor:
    result = executor.map(transform, scientists)
    
end = time.time()

print(f'Time to complete: {end - start:.2f}s')
pprint(tuple(result))

Time to complete: 1.14s
({'age': 203, 'name': 'Ada Lovelace'},
 {'age': 136, 'name': 'Emmy Noether'},
 {'age': 151, 'name': 'Marie Curie'},
 {'age': 88, 'name': 'Tu Youyou'},
 {'age': 79, 'name': 'Ada Yonath'},
 {'age': 90, 'name': 'Vera Rubin'},
 {'age': 67, 'name': 'Sally Ride'})